<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
     <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="ToolITs.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
     </sectionGroup>
 </configSections>
 <appSettings>
	 
		<add key="connstr" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 127.0.0.1)(PORT = 49161))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = xe)));user Id=OT;Password=123456" />
	</appSettings>
<userSettings>
  <ToolITs.Settings1>
   <setting name="OpenFile" serializeAs="String">
    <value>False</value>
   </setting>
  </ToolITs.Settings1>
 </userSettings>
</configuration>