<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	 
		<add key="connstr" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 127.0.0.1)(PORT = 49161))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = xe)));user Id=OT;Password=123456" />
	</appSettings>
</configuration>